

.content-image-box{
    width: 200px;
    /* height: 40px; */
    margin: 20px;
}

.content-container{
    /* border: 1px solid red; */
    padding: 50px;
    /* height: 1000px; */
    /* overflow: scroll; */
}

/* .content-container::-webkit-scrollbar {
    width: 1em;
  } */
   

  .memories{
    position: absolute;
    top: 0px;
  }